﻿
/* Image On Hover
----------------------------------------------------------*/
ul.enlarge
{
	margin-top: 10px; 
	list-style-type:none; /*remove the bullet point*/
}
ul.enlarge li{
	display:inline-block; /*places the images in a line*/
	position: relative; /*allows precise positioning of the popup image when used with position:absolute - see support section */
	z-index: 0; /*resets the stack order of the list items*/
	margin:0px 0px 10px -55px; /*space between the images*/
}
ul.enlarge span{
	position:absolute;
	left: -9999px; /*moves the span off the page, hiding it from view*/
}
ul.enlarge img
{
	/*give the thumbnail a frame*/
	background-color:#eae9d4; /*frame colour*/
	padding: 6px; /*frame size*/
	
	/*add a drop shadow to the frame*/
	-webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
	-moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
	box-shadow: 0 0 6px rgba(132, 132, 132, .75);
	/*and give the corners a small curve*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
ul.enlarge li:hover{
	z-index: 50; /*places the popups infront of the thumbnail, which we gave a z-index of 0*/
	cursor:pointer; /*changes the cursor to a hand*/
}
/***We bring the large image back onto the page by reducing left from -9999px (set in step 2) to figures below***/
ul.enlarge li:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
	top: -40px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
	left: 310px; /*distance from the left of the thumbnail to the left of the popup image*/
}

/* Slider Accordion
----------------------------------------------------------*/
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

/* Added by Fergus
----------------------------------------------------------*/
.FullBleed 
{
	width:672px; 
	height:168px; 
	margin-top:35px;
}
.Hero 
{
	width:500px; 
	height:169px; 
}
.LoginTitle 
{
	text-align:center;
	font-family:Verdana;
	font-size:25px;
	font-weight:bold;
	color:#507CD1;
	margin:0;
	position:relative;
}
.headerTitle 
{
	font-family:Verdana;
	font-size:25px;
	font-weight:bold;
	color:#507CD1;
}
.navRow 
{
	display: block;
	padding-top:5px;
	font-size:12px;
	font-family:Verdana;
	font-weight:bold;
}
.bigButtons 
{
	position:relative;
	top: 15px;
}
.error 
{
	text-align:center;
	font-weight:bold;
	color:#FF0000;
}

/* DEFAULTS
----------------------------------------------------------*/
body   
{
    /*background: #b6b7bc;
    font-size: .80em;*/
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 20px;
    padding-top: 110px;
    color: #696969;
}

a:link, a:visited
{
    color: #507CD1;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #507CD1;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS
----------------------------------------------------------*/

.page
{
	/*
    width: 960px;
    width: 80%;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
    text-align: center;
	*/
    background-color: #FFFFFF;
}
/*
.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}
*/
.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/
/*
div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}
*/
/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}